# Temporary files
*~

# Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.rtf
*.sum

# Endfloat
*.fff
*.lof
*.lot
*.ttt

# Python
*.jpg
*.mp4
*.ogg
*.pyc
*.png
*.zip

# Data
/data/external
/data/processed
